#!name=10099_Advertise
#!desc=Ban advertise!!
#!author=wuhuhuuuu
#!homepage=https://github.com/wuhuhuuuu
#!icon=https://github.com/wuhuhuuuu/study/raw/main/Scripts/10099/10099.png


https://app.10099.com.cn/contact-web/api/content/qryPosterStand url script-response-body https://github.com/wuhuhuuuu/study/raw/main/Advertise/10099_Advertise.js

hostname = app.10099.com.cn