#!name=QQ音乐
#!desc=简简单单的去开屏广告，安装即享。。。
#!author=wuhuhuuuu
#!homepage=https://github.com/wuhuhuuuu
#!icon=https://github.com/wuhuhuuuu/study/blob/main/wuhuhuuuu.PNG?raw=true

^https://us.l.qq.com/exapp* url reject-dict
^https://ad.tencentmusic.com/* url reject-dict

hostname = us.l.qq.com, ad.tencentmusic.com