#!name=Picsew
#!desc=Picsew解锁内购（设置-高级功能-恢复购买即可
#!author=wuhuhuuuu
#!icon=https://raw.githubusercontent.com/wuhuhuuuu/study/main/wuhuhuuuu.PNG

^https:\/\/buy\.itunes\.apple\.com\/verifyReceipt url echo-response application/json echo-response https://raw.githubusercontent.com/wuhuhuuuu/study/main/JSON/Picsew.json

hostname = buy.itunes.apple.com