#!name=Nicegram
#!desc=Nicegram解锁内购，需在设置中点击Nicegram，随后恢复购买方可享用！！😎😎😎
#!author=wuhuhuuuu
#!icon=https://raw.githubusercontent.com/wuhuhuuuu/study/main/wuhuhuuuu.png

^https?:\/\/restore-access\.indream\.app\/restoreAccess\?id=\w+$ url echo-response application/json echo-response https://raw.githubusercontent.com/wuhuhuuuu/study/main/JSON/Nicegram.json

hostname = restore-access.indream.app