#!name=Nicegram
#!desc=Nicegram解锁内购，需在设置中点击Nicegram，随后恢复购买方可享用！！😎😎😎
#!author=wuhuhuuuu
#!icon=https://github.com/wuhuhuuuu/study/blob/main/wuhuhuuuu.PNG?raw=true

^https?:\/\/restore-access\.indream\.app\/restoreAccess\?id=\w+$ url echo-response application/json echo-response https://github.com/wuhuhuuuu/study/blob/main/JSON/Nicegram.json?raw=true

hostname = restore-access.indream.app