#!name=NotBoring
#!desc=NotBoring全系列解锁内购🔓
#!author=wuhuhuuuu
#!icon=https://github.com/wuhuhuuuu/study/blob/main/wuhuhuuuu.PNG?raw=true

^https:\/\/api\.revenuecat\.com\/v1\/(receipts|subscribers)\/* url echo-response application/json echo-response https://github.com/wuhuhuuuu/study/blob/main/JSON/NotBoring.json?raw=true

hostname = api.revenuecat.com